<!DOCTYPE html>
<html>
<head>
<title>Example</title>

<!-- CSS -->	
<style>
body {
background-image: url('/pix/samples/bg1.gif');
}

main {
margin-bottom: 100%;
}



.floating-menu {
font-family: sans-serif;
background: red;
padding: 5px;;
width: 130px;
z-index: 100;
position: fixed;
bottom: 200px;
right: 700px;
}

.floating-menu a, 
.floating-menu h3 {
font-size: 0.9em;
display: block;
margin: 0 0.5em;
color: white;
}
</style>
</head>
<body>

<!-- HTML -->
<main>

<p>Scroll down and watch the menu remain fixed in the same position, as though it was floating.</p>

<nav class="floating-menu">
<h3>Floating Menu</h3>

<form method='POST' class= "post-form"> {% csrf_token %}
    {{ form.as_p}}
</form>
</nav>


</main>

</body>
</html>